body {
  font-family: Arial, sans-serif;
  background-color: #10acd3d5;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

div {
  margin: 1rem;
}

nav > a {
  margin: 0 12px;
}

.home-link {
  margin-right: auto;
}

.login-link {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: white;
}

form {
  display: block;
  margin: 1rem;
}

form label {
  font-weight: bold;
}
form input {
  margin-bottom: 0.5rem;
}

button {
  display: inline-block;
  padding: 0.3rem 1.2rem;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #2172d4;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  background-color: #87ecf7;
}

.navBar {
  flex-basis: auto;
  background-color: #2172d4;
  font-size: 1rem;
  height: 60px;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.authForm {
  position: relative;
  left: 1rem;
  right: 1rem;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-around;
}

.container {
  display: flex;
}

.center {
  text-align: center;
}

.allProducts li {
  display: flex;
  flex-flow: row;
  align-items: space-around;
  flex-basis: 400px;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.adminControls {
  flex-basis: 40%;
  color: white;
  text-align: start;
}

.adminControls button {
  margin: 5px;
}

.adminControls #deleteDuck {
  color: white;
  background-color: red;
}

.changeStock {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.singleUser {
  display: flex;
  justify-content: flex-start;
}

.orderConfirm {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
}

#title {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: -1px;
  background: url(Just_Ducks.jpg) center center / 775px 350px no-repeat;
  background-position-y: -57px;
  padding: 100px;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#deleteDuck {
  position: relative;
  right: 15px;
}

#detailedUserAddress {
  position: relative;
  left: 11rem;
}

#userForm {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-startS;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-items div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  margin: 8px;
  justify-content: space-between;
}

.cart-items div .cartTotal {
  background-color: white;
  display: flex;
  color: black;
  width: 100%;
  display: flex;
  margin: 0px;
  text-align: center;
}

.cart-items .cart-item .cartTotal h4 {
  color: black;
  align-self: center;
  text-align: center;
}

.cart-items div img {
  align-items: center;
}

.cart-item .cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.cart-items .cart-item img {
  width: 20%;
  height: auto;
  border-color: #2172d4;
  border-style: double;
}

.cart-item .cart-item-info .productName {
  color: white;
  font-size: 30px;
}

.cart-item .cart-item-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-item .cart-item-edit .remove-item {
  background-color: red;
  color: white;
  /* align-self: flex-end; */
}

.cart-items div form {
  display: flex;
  flex-direction: column;
}

.cart-item {
  border-style: solid;
}

.cart-items .cart-item {
  flex-basis: 80%;
}

.cart-body h1 {
  text-align: center;
  font-size: 40px;
}

.singleProductInfo {
  display: flex;
  flex-direction: column;
  /* /* justify-content: space-evenly; */
  align-items: flex-start;
}

.singleProductInfo div {
  align-self: center;
  padding: 0px;
  margin: 0px;
}

.singleProductTools form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#singleProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
}

.checkout .shipping form {
  justify-content: space-around;
  display: flex;
  margin: 1rem;
  border-block-style: solid;
}
