body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

form {
  margin: 1rem;
  display: inline-block;
}

.navBar {
  background-color: #72dcca;
  font-size: 1rem;
  height: 60px;
  align-items: center;
  font-weight: bold;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-around;
}

.container {
  display: flex;
}

.center {
  text-align: center;
}

.allProducts li {
  flex-basis: 40%;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.adminControls {
  flex-basis: 40%;
  background-color: cornflowerblue;
  text-align: end;
}

.adminControls button {
  margin: 5px;
  font-weight: 400;
}

.adminControls #deleteDuck {
  color: red;
}

#title {
  font-family: Arial, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: -1px;
  background-image: url('Just_Ducks.jpg');
  background-size: 200px;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
}
